<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Determine which servlet's location in the project. -->
    <servlet>
        <servlet-name>user.account.signin</servlet-name>
        <servlet-class>control.user.account.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.signout</servlet-name>
        <servlet-class>control.user.account.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.signup</servlet-name>
        <servlet-class>control.user.account.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.signin</servlet-name>
        <servlet-class>control.staff.account.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.signout</servlet-name>
        <servlet-class>control.staff.account.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.signup</servlet-name>
        <servlet-class>control.staff.account.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.topup</servlet-name>
        <servlet-class>control.staff.account.topup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.meal.AddMeal</servlet-name>
        <servlet-class>control.staff.meal.AddMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.meal.SearchMeal</servlet-name>
        <servlet-class>control.staff.meal.SearchMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.ingredient.retriveIngre</servlet-name>
        <servlet-class>control.staff.ingredient.retriveIngre</servlet-class>
    </servlet>
    <!-- URL which leads to the specific servlet. -->
    
    <servlet-mapping>
        <servlet-name>user.account.signin</servlet-name>
        <url-pattern>/user/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.signout</servlet-name>
        <url-pattern>/user/account/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.signup</servlet-name>
        <url-pattern>/user/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.signin</servlet-name>
        <url-pattern>/staff/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.signout</servlet-name>
        <url-pattern>/staff/account/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.signup</servlet-name>
        <url-pattern>/staff/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.topup</servlet-name>
        <url-pattern>/staff/account/topup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.meal.AddMeal</servlet-name>
        <url-pattern>/staff/meal/AddMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.ingredient.retriveIngre</servlet-name>
        <url-pattern>/staff/ingredient/retriveIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.meal.SearchMeal</servlet-name>
        <url-pattern>/staff/meal/SearchMeal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>
</web-app>
