<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Determine which servlet's location in the project. -->
    <!-- Student -->
    <servlet>
        <servlet-name>user.account.signin</servlet-name>
        <servlet-class>control.user.account.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.signout</servlet-name>
        <servlet-class>control.user.account.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.signup</servlet-name>
        <servlet-class>control.user.account.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.recovery</servlet-name>
        <servlet-class>control.user.account.recovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.account.settings</servlet-name>
        <servlet-class>control.user.account.settings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.addMeal</servlet-name>
        <servlet-class>control.user.order.addMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.removeMeal</servlet-name>
        <servlet-class>control.user.order.removeMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.updateMeal</servlet-name>
        <servlet-class>control.user.order.updateMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.confirmOrder</servlet-name>
        <servlet-class>control.user.order.confirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.updateOrder</servlet-name>
        <servlet-class>control.user.order.updateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user.order.cancelOrder</servlet-name>
        <servlet-class>control.user.order.cancelOrder</servlet-class>
    </servlet>
    <!-- Staff -->
    <!-- Account -->
    <servlet>
        <servlet-name>staff.account.signin</servlet-name>
        <servlet-class>control.staff.account.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.signout</servlet-name>
        <servlet-class>control.staff.account.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.signup</servlet-name>
        <servlet-class>control.staff.account.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.setting</servlet-name>
        <servlet-class>control.staff.account.setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.changePassword</servlet-name>
        <servlet-class>control.staff.account.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.topup</servlet-name>
        <servlet-class>control.staff.account.topup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.account.redeemCoupon</servlet-name>
        <servlet-class>control.staff.account.redeemCoupon</servlet-class>
    </servlet>
    <!-- Manage Meal -->
    <servlet>
        <servlet-name>staff.meal.SearchMeal</servlet-name>
        <servlet-class>control.staff.meal.SearchMeal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.meal.AddMeal</servlet-name>
        <servlet-class>control.staff.meal.AddMeal</servlet-class>
    </servlet>

    <!-- Manage Packages -->
    <servlet>
        <servlet-name>staff.packages.SearchPackage</servlet-name>
        <servlet-class>control.staff.packages.SearchPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.packages.AddPackage</servlet-name>
        <servlet-class>control.staff.packages.AddPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.packages.UpdatePackage</servlet-name>
        <servlet-class>control.staff.packages.UpdatePackage</servlet-class>
    </servlet>
    <!-- Manage Ingredients -->
    <servlet>
        <servlet-name>staff.ingredient.retriveIngre</servlet-name>
        <servlet-class>control.staff.ingredient.retriveIngre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.ingredient.addIngredient</servlet-name>
        <servlet-class>control.staff.ingredient.addIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff.ingredient.removeIngredient</servlet-name>
        <servlet-class>control.staff.ingredient.removeIngredient</servlet-class>
    </servlet>
    <!-- URL which leads to the specific servlet. -->
    <!-- Student -->
    <servlet>
        <servlet-name>UpdatePackage</servlet-name>
        <servlet-class>control.staff.packages.UpdatePackage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user.account.signin</servlet-name>
        <url-pattern>/user/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.signout</servlet-name>
        <url-pattern>/user/account/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.signup</servlet-name>
        <url-pattern>/user/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.recovery</servlet-name>
        <url-pattern>/user/account/recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.account.settings</servlet-name>
        <url-pattern>/user/account/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.addMeal</servlet-name>
        <url-pattern>/user/order/addMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.removeMeal</servlet-name>
        <url-pattern>/user/order/removeMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.updateMeal</servlet-name>
        <url-pattern>/user/order/updateMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.confirmOrder</servlet-name>
        <url-pattern>/user/order/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.updateOrder</servlet-name>
        <url-pattern>/user/order/updateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user.order.cancelOrder</servlet-name>
        <url-pattern>/user/order/cancelOrder</url-pattern>
    </servlet-mapping>
    <!-- Staff -->
    <!-- Account -->
    <servlet-mapping>
        <servlet-name>staff.account.signin</servlet-name>
        <url-pattern>/staff/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.signout</servlet-name>
        <url-pattern>/staff/account/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.signup</servlet-name>
        <url-pattern>/staff/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.setting</servlet-name>
        <url-pattern>/staff/account/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.changePassword</servlet-name>
        <url-pattern>/staff/account/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.topup</servlet-name>
        <url-pattern>/staff/account/topup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.account.redeemCoupon</servlet-name>
        <url-pattern>/staff/account/redeemCoupon</url-pattern>
    </servlet-mapping>
    <!-- Manage Meal -->
    <servlet-mapping>
        <servlet-name>staff.meal.SearchMeal</servlet-name>
        <url-pattern>/staff/meal/SearchMeal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.meal.AddMeal</servlet-name>
        <url-pattern>/staff/meal/AddMeal</url-pattern>
    </servlet-mapping>
    <!-- Manage Package -->
    <servlet-mapping>
        <servlet-name>staff.packages.SearchPackage</servlet-name>
        <url-pattern>/staff/packages/SearchPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.packages.AddPackage</servlet-name>
        <url-pattern>/staff/packages/AddPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.packages.UpdatePackage</servlet-name>
        <url-pattern>/staff/packages/UpdatePackage</url-pattern>
    </servlet-mapping>
    <!-- Manage Ingredient -->
    <servlet-mapping>
        <servlet-name>staff.ingredient.retriveIngre</servlet-name>
        <url-pattern>/staff/ingredient/retriveIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.ingredient.addIngredient</servlet-name>
        <url-pattern>/staff/ingredient/addIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff.ingredient.removeIngredient</servlet-name>
        <url-pattern>/staff/ingredient/removeIngredient</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>
</web-app>
