<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="#">
            <img src="../../resource/Logo3.png" alt="logo" width="150px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../cart/cart.jsp"><i class="fas fa-shopping-cart"></i> Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="main.jsp"><i class="fas fa-edit"></i> Order</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-menu-left" href="#" id="navbardrop" data-toggle="dropdown"><i class="fas fa-user"></i> Account</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a class="btn dropdown-item" href="../account/coupon.jsp" role="button"><i class="fas fa-money-check-alt"></i>Coupon List</a>
                        <a class="btn dropdown-item" href="../account/reload.jsp" role="button"><i class="fas fa-history"></i>Order List</a>
                        <a class="btn dropdown-item" href="../account/reload.jsp" role="button"><i class="fas fa-coins"></i>Reload List</a>
                        <a class="btn dropdown-item" href="../account/reload.jsp" role="button"><i class="fas fa-file-contract"></i>Intake List</a>
                        <div class="dropdown-divider"></div>
                        <a class="btn dropdown-item" href="../account/settings.jsp" role="button"><i class="fas fa-cog"></i>Settings</a>
                        <a class="btn dropdown-item" href="../account/signout" role="button"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>