<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AACS3134-IS-DevelopmentPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.Product</class>
    <class>entity.Reload</class>
    <class>entity.Orderlist</class>
    <class>entity.Staff</class>
    <class>entity.Meal</class>
    <class>entity.Category</class>
    <class>entity.Payment</class>
    <class>entity.Customer</class>
    <class>entity.Package</class>
    <class>entity.Ingredient</class>
    <class>entity.Packageist</class>
    <class>entity.Token</class>
    <class>entity.Coupon</class>
    <class>entity.Ingredientlist</class>
    <class>entity.Ordermeal</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/canteenDB"/>
      <property name="javax.persistence.jdbc.user" value="nbuser"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="nbuser"/>
    </properties>
  </persistence-unit>
</persistence>
